html{
  height: 100%;
}

body{
  
  height: fit-content;
  width: 1020px;
  margin: 0 auto;
  padding: 0;
  border: 0;
  font-size: 16px;
  font-family: 'Lato-bolt', sans-serif;
  font-weight: bold;
}

.hr-left{
  border-bottom: 1px solid #e4e9eb;
  width: 415px;
  position: relative;
  left: 25px;
  top: -91px;
}

.hex-hr-left{
  border-left: 1px solid #e4e9eb;
  height: 104px;
  position: relative;
  left: 99px;
  top: -82px;
  display: inline-block;
  
}

.hex-hr-right{
  border-right: 1px solid #e4e9eb;
  height: 104px;
  position: relative;
  left: 122px;
  top: -83px;
  display: inline-block;
  
}

.hex-hr-left-third{
  border-left: 1px solid #e4e9eb;
  height: 104px;
  position: relative;
  left: 99px;
  top: -203px;
  display: inline-block;
}

.hex-hr-right-third{
  border-left: 1px solid #e4e9eb;
  height: 104px;
  position: relative;
  left: 122px;
  top: -203px;
  display: inline-block;
}

.hr-right{
  border-bottom: 1px solid #e4e9eb;
  width: 415px;
  position: relative;
  left: 576px;
  top: -92px;
}

a {
  text-decoration: none;
  color: #e0e0e0;
}

.triangle{
  position: relative;
  left: 463px;
  top: -76px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 27px 47px 0 47px;
  border-color: #323232 transparent transparent transparent;
}

.square{
  width: 6px;
  height: 6px;
  background: #ddd2c5;
  margin:  -0.8px;
  display: inline-block;
}

.square:hover{
  background: #8b8784;
  
}

.item-left{
  padding: 10px;
  display: inline-block;
  font-size: 0.6rem;
  position: relative;
  left: 317px;
  top: 21px;
}

.item-right{
  font-size: 0.6rem;
  padding: 9px;
  display: inline-block;
  position: relative;
  left: 433px;
  top: 20px;
}

.menu{
  padding: 0;
  margin-top: 0;
  text-transform: uppercase;
  height: 63px;
}

.menu a:hover {
  color: #2eb398;
}

.item-link:visited {
  color: #e4e9eb;
}

.item-link:link {
  color: #e4e9eb;
  
}

.img-nav {
  position: relative;
  left: 477px;
  top: -69px;
}


.navigation{
  background:#323232;
} 

.square-position{
  position: relative;
  left: 31px;
  top: -103px;
}

.button-submit{
  background: #2eb398;
  border: none;
  color: #e4e9eb;
  text-transform: uppercase;
  width: 90px;
  height: 37px;
  position: relative;
  top: -68px;
  left: 610px;
}
.button-submit:hover{
  background: #228873;
}

.hexagon{
 width: 180px;
 height: 208px; 
 margin: 8px;
 transform: rotate(120deg);
 overflow: hidden;
 visibility: hidden;
 display: inline-block;
 cursor: pointer;
}

.hex-layer-1{
  width: 100%;
  height: 100%;
  transform: rotate(-60deg);
  overflow: hidden;
  visibility: hidden;
}

.hex-layer-2{
  width: 100%;
  height: 100%;
  background: #cccc;
  transform: rotate(-60deg);
  overflow: hidden;
  visibility: visible;
  background-repeat: no-repeat;
}

.first-row .hexagon{
  position: relative;
  top: -22px;
  left: 111px;
}

.second-row .hexagon { 
  position: relative;
    top: -80px;
    left: 12px;
}
.third-row .hexagon{
  position: relative;
    top: -141px;
    left: 112px;
   
}

.info{
  background: #2eb398;
  position: relative;
  top: -86px;
  height: 341px;
  margin-bottom: -86px;
}

.hr-slider{
  border-bottom: 1px solid #e4e9eb;
  width: 960px;
  position: relative;
  left: 31px;
  top: -97px;
}

.face-about .hexagon{
  position: relative;
    top: 59px;
    left: 112px;
}
.info-text h1{
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Maven Pro';
  font-weight: initial;
  font-size: 1.8rem;
  color: rgba(215, 252, 245, 255);
  text-align: justify;
}
.info-text h1, .info-text h3{
  position: relative;
  top: -168px;
  left: 320px;
}
.info-text h3{
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Maven Pro';
  font-weight: initial;
  font-size: 1.1rem;
  color: #228873;
  text-align: justify;
}

.info-text p{
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Lato';
  line-height: 22px;
  letter-spacing: 0.32px;
  font-size: 0.7rem;
  color: #b4eadf;
  text-align: justify;
  position: relative;
  left: 319px;
  top: -155px;
}

.about {
  font-family: 'Maven Pro', sans-serif;
  background-image: url('../img/Image@1X.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: -126px;
  background-position-y: 0px; 
}

.social-link img{
  margin: -2.2px;
  position: relative;
  top: -119px;
  left: 755px;
}

.leg-h3{
  position: relative;
  left: 7px;
  top: 4px;
}

.in-touch-form{
  background: #323232;
}

fieldset{
  border: 0;
  margin-bottom: 125px;
  padding: 0;
  font-family: 'Maven Pro';
  font-weight: initial;
  color: #e0e0e0;
  font-size: 1.85rem;
  position: relative;
  top: 54px;
  left: 112px;
 }

fieldset input{
  background: #454545;
  border: 0;
  margin: 7px;
  width: 567px;
  height: 37px;
  padding-left: 13px;
  font-family: 'Maven Pro';
  font-weight: initial;
}

fieldset textarea{
  background: #454545;
  border: 0;
  margin: 6px;
  width: 565px;
  height: 139px;
  padding-left: 13px;
  padding-top: 13px;
  font-family: 'Maven Pro';
  font-weight: initial;
  resize: none;
}

fieldset h3{
  border: 0;
  margin-top: 0px;
  font-family: 'Maven Pro';
  font-weight: initial;
  font-size: 1.12rem;
  color: #e0e0e0;
}

.input-text{
  background: #454545;
  border: 0;
  color: #e0e0e0;
}


.social-network:hover{
  border: 1px solid #228873;
}

.footer{
  position: relative;
  top: -86px;
  margin-bottom: -326px;
}

.footer-copyright{
  background: #222222;
  margin-bottom: -1px;
  height: 43px;
}

.conteiner-footer span{
  font-weight: bold;
}

.conteiner-footer{
  font-family: 'Lato';
  font-weight: 100;
  font-size: 0.85rem;
  text-align: justify;
  line-height: 21px;
  color: #e0e0e0;
  width: 175px;
  position: relative;
  left: 720px;
  top: -454px;
}
.contact-data img {
  padding-right: 8px;
}
.contact-data p {
  margin-bottom: 0px;
}
.contact-data a {
  padding-right: 3px;
}